<div>
    <h3>This Web Site presents a cars store, similar to <a href="http://www.mobile.bg/">mobile.bg</a>.</h3>
    <h4>User's roles are regular user, dealer and administrator</h4>
    <p><strong>To Login with aministarator account:</strong></p>
    <ul>
        <li>username: admin</li>
        <li>password: admin123</li>
    </ul>
    <p><strong>To Login with dealer account:</strong></p>
    <ul>
        <li>username: dealer</li>
        <li>password: dealer123</li>
    </ul>
</div>