<h2>Users</h2>
<div id="error-message"></div>
<div id="admin-panel">
    <table id="grid">
        <colgroup>
            <col style="width:90px" />
            <col style="width:90px" />
            <col style="width:100px" />
            <col style="width:80px" />
            <col style="width:100px" />
            <col style="width:60px" />
            <col style="width:120px" />
        </colgroup>
        <thead>
            <tr>
                <th>Username</th>
                <th>Display Name</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr>
                <td></td>
            </tr>-->
        </tbody>
    </table>

    <script id="rowTemplate" type="text/x-kendo-tmplate">
        <tr>
            <td>
                #: Username #
            </td>
            <td>
                #: DisplayName #
            </td>
            <td>#: Mail # </td>
            <td>#: Phone #</td>
            <td>#: Location #</td>
            <td>#: UserType == 0 ? "Admin" : (UserType == 1) ? "Dealer" : "User" #</td>
            <td>
                <button id="#: Id #" class="btn btn-primary" data-bind="click: editUser">Edit</button>
                <button id="#: Id #" class="btn btn-primary" data-bind="click: deleteUser">Delete</button>
            </td>
        </tr>
    </script>
</div>
