<h2>Cars list</h2>
<div id="example" class="k-content">
    <table id="grid">
        <!-- <colgroup>
            <col class="photo" />
            <col class="details" />
            <col />
        </colgroup>-->
        <thead>
            <tr>
                <th colspan="3">Results</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr>
                <td></td>
            </tr>-->
        </tbody>
    </table>

    <script id="rowTemplate" type="text/x-kendo-tmplate">
        <tr>
            <td class="photo">
                <img src="#: ImageUrl #" alt="#: Id #" />
            </td>
            <td class="details">
                <p>#: Maker # #: Model# </p>
                <p>Year: #: ProductionYear #</p>
                <p>#: Engine # #: HP # #: FuelType # #:Gear #</p>
                <p>Horses: #:HP#</p>
            </td>
            <td>
                Price: $#: Price #
            </td>
            <td>
                <button id="#: Id #" class="singleCarPage btn btn-primary">Details</button>
            </td>
        </tr>
    </script>
</div>
