<h2>Car details</h2>
<div data-template="car-template" data-bind="source: carSource">
</div>

<script type="text/x-kendo-template" id="car-template">
    <div id="car-details" class="row">
        <img class="details-img span4" data-bind="attr: {src: ImageUrl}" />
        <dl class="dl-horizontal span8">
            <dt> Model:</dt>
            <dd>
                <span data-bind="text: Maker"></span>
                <span data-bind="text: Model"></span>
                <span data-bind="text: Engine"></span>
                <span data-bind="text: FuelType"></span>
                <span data-bind="text: EngineVolume"></span>
            </dd>
            <dt>Price:</dt>
            <dd>
                $<span data-bind="text: Price"></span>
            </dd>
            <dt>Year:</dt>
            <dd>
                <span data-bind="text: ProductionYear"></span>
            </dd>
            <dt>Mileage:</dt>
            <dd>
                <span data-bind="text: Mileage"></span>
            </dd>
            <dt>Power:</dt>
            <dd>
                <span data-bind="text: HP"></span> HP
            </dd>
            <dt>Gear:</dt>
            <dd>
                <span data-bind="text: Gear"></span>
            </dd>
            <dt>Doors:</dt>
            <dd>
                <span data-bind="text: Doors"></span>
            </dd>
            # if(Extras.length > 0) { #
            <dt>Extras:</dt>
            <dd>
                #: Extras.map(function(elem){
                    return elem.Name;
                }).join(", ")  #
            </dd>    #
            } #
        </dl>
    </div>
</script>
