body, div, ul, li, p {
    margin: 0;
    padding: 0;
}

#main-wrapper {
    /*width: 90%;
    margin: 0 auto;*/
}

#main-wrapper > aside {
    /*width: 19%;
    float: left;*/
}

#grid {
    height: 99%;
}

#logoutButton {
    display: none;
}

#main-content {
    /*width: 80%;
    float: left;*/
}

.details-img {
    width: 300px;
}
